{{define "artist_relation"}}

<div class="row">
    {{ range $key, $value := .DatesLocations }}
        <div class="col-12">
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://www.w3schools.com/w3images/newyork.jpg" class="img-fluid rounded-start" alt="{{$key}}">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title mb-3">{{$key}}</h5>
                      <hr>
                      <p class="card-text mb-2" style="font-size: .90rem;">Dates:</p>
                      <p class="card-text">
                        {{range $key_date, $date := $value }}
                            <span class="btn btn-outline-secondary mb-2" style="cursor: default;">{{$date}}</span>
                        {{end}}
                      </p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    {{end}}
</div>



{{end}}