
html, body {
    height: 100%;
}

  body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}

.slider-value {
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
  }

.nav-filter{
    transition: position 1.5s ease;
  }
  .sticky-filter {
    position:fixed;
    top:0;
    z-index: 99;
    width: 100%;
    background: rgba(255,255,255,.7);
    backdrop-filter: blur(10px);
    margin: 0 !important;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, .3);
    border-radius: 0 0 10px 10px;
  }
  .sticky-filter .filter-title{
    display: none;
  }
  .sticky-filter .filter-content-form{
    /* padding: 0 !important; */
    margin: 0 !important;
    border: none !important;
    box-shadow: none;
    background: none;
    backdrop-filter: none;
  }
  .filter-content-form{
    border-radius: 10px;
    background: rgba(255,255,255,.7);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, .3);
    backdrop-filter: blur(10px);
  }

.container-footer footer{
    margin: 0 10%;
}