{{template "head"}}
<body>
    {{template "menu"}}
    <main>
        {{template "artist_info" .ArtistInfo}}

        <div class="container col-xxl-8 px-4 pb-5">
            <div class="row flex-lg-row-reverse align-items-center px-4 pb-5 pt-4 shadow" style="background-color: rgb(222 226 230 / 10%); border-radius: 15px;">
                <div class="col-12">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1">TOUR DATES</h1>
                    <p class="mb-5">Remember to book your tickets!</p>
                    <div>
                        <div class="d-flex align-items-start">
                            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <button class="nav-link active" id="v-pills-ArtistDates-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ArtistDates" type="button" role="tab" aria-controls="v-pills-ArtistDates" aria-selected="true">Dates</button>
                                <button class="nav-link" id="v-pills-ArtistLocations-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ArtistLocations" type="button" role="tab" aria-controls="v-pills-ArtistLocations" aria-selected="false">Locations</button>
                                <button class="nav-link" id="v-pills-Relation-tab" data-bs-toggle="pill" data-bs-target="#v-pills-Relation" type="button" role="tab" aria-controls="v-pills-Relation" aria-selected="false">Conserts</button>
                            </div>
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane text-center fade show active" id="v-pills-ArtistDates" role="tabpanel" aria-labelledby="v-pills-ArtistDates-tab" tabindex="0">{{template "artist_dates" .ArtistDates}}</div>
                                <div class="tab-pane fade" id="v-pills-ArtistLocations" role="tabpanel" aria-labelledby="v-pills-ArtistLocations-tab" tabindex="0">{{template "artist_locations" .ArtistLocations}}</div>
                                <div class="tab-pane fade" id="v-pills-Relation" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">{{template "artist_relation" .Relation}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    {{template "footer"}}
</body>
</html>